.headerLogo {
  height: 4vmin;
  pointer-events: none;
}

.headerLink {
  color: #ffffff;
  text-decoration: none;
}

.headerLogin {
  place-self: center end;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .headerLogo {
    animation: header-logo-spin infinite 20s linear;
  }
}
