
.appNav {
  text-align: left;
  background-color: #ffffff;
  font-weight: 500;
  color: #282c34;
  padding: 21px;
  border-bottom: 1px solid #282c34;
}

.li {
    margin-bottom: 12px;
}

.li a {
    text-decoration: none;
    color: #282c34;
}
.li:hover a {
    font-weight: 400;
}

.li a:active {
    font-weight: 700;
    font-size: calc(11px + 2vmin);
}

.li a:focus {
    font-weight: 600;
    font-size: calc(11px + 2vmin);
}