@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    'h h h h h h'
    'n m m m m m'
    'n m m m m m'
    'f f f f f f'
  ;
  font-family: Montserrat;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.appHeader {
  grid-area: h;
}

.appNav {
  grid-area: n;
}

.appMain {
  grid-area: m;
}

.appFooter {
  grid-area: f;
}

.appHeader,
.appFooter {
  /* height: 30px; */
  padding: 12px;
  background-color: #282c34;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2vw;

  align-items: center;
  justify-content: center;
  color: white;
}

/* ---------------------------------------------------- */

.appMain {
  text-align-last: left;
  padding: 12px;
}

.appMain>div {
  padding: 6px 0;
}